body {
  background-color: aqua;
}

.calc_body {
  background-color: white;
  height: 500px;
  width: 350px;
  border-radius: 8px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 2px 5px 5px 5px rgb(128, 128, 128);
}
