body {
  background-color: aqua;
}

.calc_body {
  display: flex;
  justify-content: center;
  background-color: white;
  height: 500px;
  width: 350px;
  border-radius: 8px;
  padding: 50px 0 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 2px 5px 5px 5px rgb(128, 128, 128);
}

.display {
  width: 90%;
  height: 10%;
  background-color: rgb(220, 220, 220, 0.3);
  backdrop-filter: blur(2px);
  font-family: "Cabin Sketch";
  font-size: xx-large;
  text-align: end;
  border-radius: 5px;
  padding: 10px;
  box-shadow: inset 2px 2px 4px 2px rgb(220, 220, 220, 0.3);
}
